body {
  margin: 0;
  overflow: hidden;
  background: #fbfbfb;
}

canvas {
  Adisplay: block;
  touch-action: none;
}

#ui {
  position: fixed;
  top: 10px;
  left: 10px;
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 10;
}

textarea {
  width: 250px;
  height: 300px;
  resize: vertical;
  font-family: monospace;
  font-size: 14px;
}


button {
  margin-top: 5px;
  width: 100%;
  padding: 5px;
  cursor: pointer;
}

